body  {
    background-image: url(/images/background.png);
    font-family: 'garamond';
  }

  .blue{
    background-color :#192841;
  }
  .row-header {
    margin: 0px auto;
    padding: 0px 0px; }
  
  .banner{
    margin:auto;
    padding: auto;
  }
  .navbar-fixed-top{
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;
    }
  .tron{
    background:transparent !important;
  }
  .text-my-own-color {
    color: whitesmoke !important; 
  }
  .text-my-own-color:hover, .text-my-own-color:active {
    color: whitesmoke !important; 
  }
  .bor{
    border: 4px solid black;
  }
  .ubor{
    border: none;
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
  .flip {
    transform: rotate(-180deg);
  }
  .unflip {
    transform: rotate(+180deg);
  }